@model FrontalMVC.Models.EF.Equipe

<div style="background-color:aquamarine;">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxMembres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxMembres)
        </dd>
    </dl>
</div>

